/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

.active-selector {
    position: absolute;
    border: 2px solid #adff2f;
}

a {
    text-decoration: none;
    color: white;
}





/* regole sezione superiore */
.upper {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
}





/* regole barra laterale - sinistra */
.left-side {
    height: 100%;
    width: 250px;
    background-color: #000000;
    color: #5f5f5f;
    padding: 20px;
    font-weight: bold;
    overflow: auto;
}

.logo {
    width: 150px;
    padding: 5px 0 25px;
}

.home-search-favourite {
    margin-bottom: 20px;
}

.nav-left {
    line-height: 2;
    position: relative;
}

.nav-left li {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.nav-left li:hover {
    cursor: pointer;
    color: white;
}

.nav-left img {
    width: 28px;
    filter: invert(42%) sepia(0%) saturate(3%) hue-rotate(257deg) brightness(92%) contrast(90%);
}

.nav-left-active img {
    filter: none;
}

.active-selector.left {
    height: 28px;
    top: 4px;
    left: -20px;
}

.playlist-tab-right h2 {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}

.add-playlist i {
    color: black;
    background-color: #a3a3a3;
    padding: 10px;
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.add-playlist:hover {
    color: white;
    cursor: pointer;
}

.playlist-name {
    overflow: auto;
    height: calc(100vh - 500px);
}

.install-app {
    width: 100%;
}

.install {
    padding: 10px 0;
    border-bottom: 1px solid #a3a3a3;
    display: flex;
    gap: 10px;
}

.install:hover {
    color: white;
    cursor: pointer;
}

.install img {
    width: 20px;
    filter: invert(38%) sepia(13%) saturate(0%) hue-rotate(275deg) brightness(104%) contrast(92%);
}

.install:hover img {
    filter: none;
    cursor: pointer;
}

.profile-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.profile-icon img {
    width: 20px;
    height: 20px;
    background-color: #808080;
    border-radius: 50%;
}

.profile-icon h3 {
    color: #f7f7f7;
}

.playlist-name li {
    line-height: 2.5;
}

.playlist-name li:hover {
    color: white;
    cursor: pointer;
}

.left-side-xs {
    display: none;
}


/* regole barra laterale - sinistra - XS */
@media screen and (max-width:576px) {
    .left-side-xs {
        display: block;
    }

    .left-side {
        display: none;
    }

    .left-side-xs {
        height: 100%;
        width: 50px;
        background-color: #000000;
        color: #5f5f5f;
        padding: 13px;
        font-weight: bold;
        position: relative;
    }

    .logo-xs {
        margin-bottom: 10px;
    }

    .nav-left-xs img,
    .install-xs img {
        width: 25px;
        margin-bottom: 4px;
        filter: invert(46%) sepia(0%) saturate(73%) hue-rotate(154deg) brightness(92%) contrast(103%);
    }

    .nav-left-xs-active img {
        filter: none;
    }

    .install-app-xs {
        position: absolute;
        bottom: 10px;
        left: 25%;
    }

    .install-xs img {
        width: 16px;
        position: relative;
        left: 3px;
    }

    .profile-icon {
        position: relative;
        left: 3px;
    }
}





/* regole parte centrale - destra */
.right-side {
    height: 100%;
    width: calc(100% - 250px);
    background-color: #141922;
    position: relative;
    overflow: clip;
}

.main-center {
    max-height: 100%;
    padding: 100px 30px 50px;
    overflow: auto;
    color: white;
}

.section-selector {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    color: #74767b;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 40px;
}

.section-selector li:hover {
    color: white;
    cursor: pointer;
}

.active1 {
    position: relative;
}

.selector {
    position: absolute;
    left: 30%;
    top: 18px;
    border-bottom: 2px solid #adff2f;
    width: 35px;
}

.row-card {
    display: flex;
    gap: 8px;
    margin-bottom: 30px;
}

h4.createfor-subtitle {
    margin-top: 8px;
    color: #5a5d62;
    font-size: 12px;
}

.row-card .card {
    width: 16%;
    text-align: center;
    line-height: 1;
}

.album-photo {
    position: relative;
}

.album-photo i {
    display: none;
}

.row-card .card img {
    max-width: 100%;
    margin-bottom: 8px;
    margin-top: 30px;
}

.row-card .card:hover {
    cursor: pointer;
}

.row-card .card:hover .album-photo i {
    display: block;
}

.row-card .card:hover img {
    filter: opacity(0.4);
}

.card .fa-regular.fa-circle-play {
    position: absolute;
    top: 45%;
    left: 35%;
}

.row-card .card h4 {
    font-size: 12px;
    margin-bottom: 8px;
}

.row-card .card h6 {
    font-size: 8px;
    color: #5a5d62;
}

.row-card .card .circle-artist {
    border-radius: 100px;
}


/* regole parte centrale - destra - XS */
@media screen and (max-width:576px) {
    .right-side {
        width: calc(100% - 50px);
    }

    .row-card {
        flex-wrap: wrap;
    }

    .row-card .card {
        width: 45%;
    }

    .card .fa-regular.fa-circle-play {
        top: 48%;
        left: 42%;
        font-size: 35px;
    }
}

/* regole parte centrale - destra - SUPER XS */
@media screen and (max-width:400px) {
    .card .fa-regular.fa-circle-play {
        top: 48%;
        left: 36%;
        font-size: 35px;
    }
}


/* regole parte centrale - destra - SM */
@media screen and (min-width:576px) and (max-width:767px) {
    .row-card {
        flex-wrap: wrap;
    }

    .row-card .card {
        width: 45%;
    }

    .card .fa-regular.fa-circle-play {
        top: 48%;
        left: 42%;
    }
}


/* regole parte centrale - destra - MD */
@media screen and (min-width:768px) and (max-width:991px) {
    .row-card {
        flex-wrap: wrap;
    }

    .row-card .card {
        width: 22%;
    }
}





/* regola barra superiore - destra */
.top-nav-upgrade {
    position: absolute;
    z-index: 900;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.upgrade-button {
    margin-right: 15px;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 12px;
}

.upgrade-button a {
    padding: 12px 30px;
    display: inline-block;
}

.upgrade-button:hover {
    scale: 1.1;
}


/* regola barra superiore - destra - XS */
@media screen and (max-width:576px) {
    .section-selector {
        flex-wrap: wrap;
        font-size: 14px;
    }
}


/* regola barra superiore - destra - SM */
@media screen and (min-width:576px) and (max-width:767px) {
    .section-selector {
        flex-wrap: wrap;
        font-size: 11px;
    }
}


/* regola barra superiore - destra - MD */
@media screen and (min-width:768px) and (max-width:991px) {
    .section-selector {
        flex-wrap: wrap;
        font-size: 10px;
    }
}





/* regole player - inferiore */
.player {
    max-width: 100%;
    height: 90px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}





/* regole player - inferiore - SINISTRA */
.left-side-player {
    width: 250px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.album-name-player {
    display: flex;
    gap: 15px;
    align-items: center;
}

.album-name-player img {
    width: 45px;
}

.album-name-player h3 {
    color: white;
    font-size: 14px;
}

.album-name-player h6,
.left-side-player {
    color: #7e7e7e;
}

.album-name-player h6:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.favourite-folder {
    display: flex;
    gap: 10px;
}

.favourite-folder i:hover {
    cursor: pointer;
    color: white;
}





/* regole player - inferiore - CENTRO */
.center-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.up-row-control {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

.up-row-control i {
    font-size: 20px;
}

.fa-regular.fa-circle-play {
    font-size: 40px;
}

.fa-regular.fa-circle-play:hover {
    scale: 1.1;
}

.down-row-control {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

.line-time {
    position: relative;
}

.line-time:hover{
    cursor: pointer;
}

.line-time hr {
    width: 400px;
    margin: 0 20px;
    border: 2px solid #5a5a5a;
}

hr.hr-white {
    border: 2px solid #c1c1c1;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.circle-ontimebar {
    height: 10px;
    width: 10px;
    background-color: #d8cdcd;
    border-radius: 100%;
    position: absolute;
    left: 115px;
    top: -3.5px;
    display: none;
}

.down-row-control:hover hr.hr-white {
    border: 2px solid #adff2f;
}

.down-row-control:hover .circle-ontimebar {
    display: block;
}





/* regole player - inferiore - DESTRA */
.right-side-player {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    gap: 15px;
}

.line-time.volume hr {
    width: 90px;
    border: 2px solid #5a5a5a;
    margin: 0 20px 0 0;
}

hr.hr-white.volume {
    border: 2px solid #c1c1c1;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.line-time.volume:hover{
    cursor: pointer;
}

.circle-ontimebar-volume {
    height: 10px;
    width: 10px;
    background-color: #d8cdcd;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    top: -3.5px;
    display: none;
}

.line-time.volume:hover hr.hr-white.volume {
    border: 2px solid #adff2f;
}

.line-time.volume:hover .circle-ontimebar-volume {
    display: block;
}


/* regole player - inferiore - XS */
@media screen and (max-width:576px) {
    .left-side-player {
        width: 130px;
    }

    .line-time.volume hr {
        width: 30px;
    }

    hr.hr-white.volume {
        width: 5px;
    }

    .favourite-folder {
        flex-direction: column;
    }

    .up-row-control {
        gap: 16px;
    }
    
    .up-row-control i {
        font-size: 16px;
    }
    
    .fa-regular.fa-circle-play {
        font-size: 20px;
    }

    .right-side-player {
        font-size: 12px;
        gap: 10px;
    }

    .line-time hr {
        margin: 0 10px;
        width: 80px;
    }

    hr.hr-white {
        width: 20px;
    }

    .album-name-player h3 {
        font-size: 10px;
    }

    .favourite-folder {
        margin-left: 10px;
    }

    .album-name-player img {
        width: 30px;
    }

    .circle-ontimebar {
        left: 25px;
    }

    .circle-ontimebar-volume {
        left: 5px;
    }
}

/* regole player - inferiore - super XS */
@media screen and (max-width:425px) {
    .album-name-player img {
        display: none;
    }

    .left-side-player {
        width: 100px;
    }

    .circle-ontimebar {
        left: 25px;
    }

    .circle-ontimebar-volume {
        left: 3px;
    }
}


/* regole player - inferiore - SM */
@media screen and (min-width:576px) and (max-width:767px) {
    .left-side-player {
        width: 180px;
    }

    .line-time.volume hr {
        width: 50px;
    }

    hr.hr-white.volume {
        width: 10px;
    }

    .favourite-folder {
        flex-direction: column;
    }

    .up-row-control {
        gap: 25px;
    }
    
    .up-row-control i {
        font-size: 24px;
    }
    
    .fa-regular.fa-circle-play {
        font-size: 30px;
    }

    .right-side-player {
        font-size: 12px;
        gap: 10px;
    }

    .line-time hr {
        margin: 0 10px;
        width: 145px;
    }

    hr.hr-white {
        width: 40px;
    }

    .circle-ontimebar {
        left: 45px;
    }

    .circle-ontimebar-volume {
        left: 5px;
    }
}


/* regole player - inferiore - MD */
@media screen and (min-width:768px) and (max-width:991px) {
    .line-time hr {
        width: 200px;
    }

    hr.hr-white {
        width: 40px;
    }

    .line-time.volume hr {
        width: 60px;
    }

    hr.hr-white.volume {
        width: 10px;
    }

    .circle-ontimebar {
        left: 55px;
    }

    .circle-ontimebar-volume {
        left: 5px;
    }
}