/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

.active-selector {
    position: absolute;
    border: 2px solid #adff2f;
}





/* regole sezione superiore */
.upper {
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
}



/* regole barra laterale - sinistra */
.left-side {
    height: 100%;
    width: 250px;
    background-color: #000000;
    color: #5f5f5f;
    padding: 20px;
    font-weight: bold;
}

.logo {
    width: 150px;
    padding: 5px 0 25px;
}

.home-search-favourite {
    margin-bottom: 20px;
}

.nav-left {
    line-height: 2;
    position: relative;
}

.nav-left li {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.nav-left img {
    width: 28px;
    filter: invert(42%) sepia(0%) saturate(3%) hue-rotate(257deg) brightness(92%) contrast(90%);
}

.active-selector.left {
    height: 28px;
    top: 4px;
    left: -20px;
}

.playlist-tab-right h2 {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}

.add-playlist i {
    color: black;
    background-color: #a3a3a3;
    padding: 10px;
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.playlist-name {
    overflow: auto;
    height: calc(100vh - 490px);
}

.install-app {
    width: 100%;
}

.install {
    padding: 12px 0;
    border-bottom: 1px solid #a3a3a3;
    display: flex;
    gap: 10px;
}

.install img {
    width: 20px;
    filter: invert(38%) sepia(13%) saturate(0%) hue-rotate(275deg) brightness(104%) contrast(92%);
}

.profile-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.profile-icon img {
    width: 20px;
    height: 20px;
    background-color: #808080;
    border-radius: 50%;
}

.profile-icon h3 {
    color: #f7f7f7;
}

.playlist-name li {
    line-height: 2.5;
}



/* regole parte centrale - destra */
.right-side {
    height: 100%;
    width: calc(100% - 250px);
    background-color: #141922;
    position: relative;
}

.main-center {
    max-height: 100%;
    padding: 100px 30px 50px;
    overflow: auto;
    color: white;
}

.section-selector {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    color: #74767b;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 40px;
}

.row-card {
    display: flex;
    gap: 8px;
    margin-bottom: 30px;
}

h4.createfor-subtitle {
    margin-top: 8px;
    color: #5a5d62;
    font-size: 12px;
}

.row-card .card {
    width: 16%;
    text-align: center;
    line-height: 1;
}

.row-card .card img {
    max-width: 100%;
    margin-bottom: 8px;
    margin-top: 30px;
}

.row-card .card h4 {
    font-size: 10px;
    margin-bottom: 8px;
}

.row-card .card h6 {
    font-size: 8px;
    color: #5a5d62;
}

.row-card .card .circle-artist {
    border-radius: 100px;
}



/* regola barra superiore - destra */
.top-nav-upgrade {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.upgrade-button {
    margin-right: 15px;
    padding: 12px 30px;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 12px;
}



/* regole player - inferiore */
.player {
    width: 100%;
    height: 90px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}



/* regole player - inferiore - DESTRA */
.left-side-player {
    width: 250px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.album-name-player {
    display: flex;
    gap: 15px;
    align-items: center;
}

.album-name-player img {
    width: 45px;
}

.album-name-player h3 {
    color: white;
    font-size: 14px;
}

.album-name-player h6,
.left-side-player {
    color: #7e7e7e;
}

.favourite-folder {
    display: flex;
    gap: 10px;
}



/* regole player - inferiore - CENTRO */
.center-player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up-row-control {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

.up-row-control i {
    font-size: 20px;
}

.fa-regular.fa-circle-play {
    font-size: 40px;
}

.down-row-control {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

.line-time {
    position: relative;
}

.line-time hr {
    width: 500px;
    margin: 0 20px;
    border: 2px solid #5a5a5a;
}

hr.hr-white {
    border: 2px solid #c1c1c1;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.right-side-player {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    gap: 15px;
}

.line-time.volume hr {
    width: 120px;
    border: 2px solid #5a5a5a;
    margin: 0 20px 0 0;
}

hr.hr-white.volume {
    border: 2px solid #c1c1c1;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
}